In [142]:
# Add the Pandas dependecy.
import pandas as pd
import os

# Files to load
school_data_to_load = os.path.join("Resources/schools_complete.csv")
student_data_to_load = os.path.join("Resources/students_complete.csv")

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

# Determine if there are any missing values in the school data.
school_data_df.count()

# Determine if there are any missing values in the student data.
student_data_df.count()

# Determine if there are any missing values in the school data.
school_data_df.isnull()

# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

# Determine if there are not any missing values in the school data.
school_data_df.notnull()

# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

# Determine data types for the school DataFrame.
school_data_df.dtypes

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

school_data_complete_df["Student ID"].count()

39170

In [143]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count


# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [136]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
                                          
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
    

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
    
                                          
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [144]:
# Calculate the percent that passed math.
passing_math_percentage = (passing_math_count)/ (school_data_complete_df["Student ID"].count()) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / (school_data_complete_df["Student ID"].count()) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [145]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / school_data_complete_df["Student ID"].count() * 100
overall_passing_percentage

65.17232575950983

In [165]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": school_data_complete_df["Student ID"].count(),
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [161]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [162]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display the DataFrame.
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [167]:
# Reorder the columns in the order you want them to appear.
##new_column_order = ["column2", "column4", "column1"]

# Assign a new or the same DataFrame the new column order.
##df = df[new_column_order]

# Reorder the columns in the order you want them to appear.
##new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
#district_summary_df = district_summary_df[new_column_order]
#district_summary_df

# Display the DataFrame.
##district_summary_df

# one(#) note, two(##) code

NameError: name 'df' is not defined